apiVersion: hazelcast.com/v1alpha1
kind: Hazelcast
metadata:
  name: hazelcast
spec:
  userCodeDeployment:
    clientEnabled: true
    bucketConfig:
      secret: map-store-bucket-secret
      secret: map-store-bucket-secret <1>
      bucketURI: s3://map-store-bucket/path/to/jars <2>
    configMaps:
      - domain-classes-cm
      - entryprocessor-cm
    triggerSequence: "001"
