apiVersion: hazelcast.com/v1alpha1
kind: Hazelcast
metadata:
  name: hazelcast
spec:
  userCodeDeployment:
    clientEnabled: true
    bucketConfig:
      secret: map-store-bucket-secret <1>
      bucketURI: azblob://map-store-bucket/path/to/jars <2>
    configMaps:
      - domain-classes-cm
      - entryprocessor-cm
    remoteURLs:
      - https://example.com/entry-processor.jar
    triggerSequence: "001"
