# This workflow takes the contents of the branches and builds the production documentation site

name: Build production site

on:
  push:
    branches: [ main, 'v/*' ]

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger build
      run: curl -d {} https://api.netlify.com/build_hooks/61bc88be7456f117b42186eb
